<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Website taoxanh.vn" />
    <meta name="author" content="Le Kim Thanh" />
    <title>taoxanh</title>
    <link th:href="@{/admin/css/styles.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <th:block th:replace="admin/layout/header :: header"></th:block>
    <div id="layoutSidenav">
        <th:block th:replace="admin/layout/sidebar :: sidebar"></th:block>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Manage Users</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-12 mx-auto">
                                <div class="d-flex justify-content-between">
                                    <h3>User detail with id = <span th:text="${id}"></span></h3>
                                </div>

                                <hr />

                                <div class="card" style="width: 60%">
                                    <div class="card-header">
                                        User information
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">ID: <span th:text="${user.id}"></span></li>
                                        <li class="list-group-item">Create Date: <span th:text="${user.createDate}"></span></li>
                                        <li class="list-group-item">Email: <span th:text="${user.email}"></span></li>
                                        <li class="list-group-item">Phone number: <span th:text="${user.phone}"></span></li>
                                        <li class="list-group-item">Address: <span th:text="${user.address}"></span></li>
                                        <li class="list-group-item">Role: <span th:text="${user.role.roleName}"></span></li>
                                        <li class="list-group-item">FullName: <span th:text="${user.username}"></span></li>
                                        <li class="list-group-item">Address: <span th:text="${user.address}"></span></li>
                                    </ul>
                                </div>
                                <a href="/dashboard/user" class="btn btn-success mt-3">Back</a>

                            </div>

                        </div>

                    </div>
                </div>
            </main>
            <th:block th:replace="admin/layout/footer :: footer"></th:block>
        </div>
    </div>
    <script th:src="@{/admin/js/scripts.js}"></script>
</body>

</html>
