<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Website taoxanh.vn" />
    <meta name="author" content="Le Kim Thanh" />
    <title>taoxanh</title>
    <link th:href="@{/admin/css/styles.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <th:block th:replace="admin/layout/header :: header"></th:block>
    <div id="layoutSidenav">
        <th:block th:replace="admin/layout/sidebar :: sidebar"></th:block>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <!-- breadcrumd -->
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Iphone</li>
                    </ol>
                    <div class="mt-5">
                        <div class="row">
                            <div class="col-12 mx-auto">
                                <div class="d-flex justify-content-between">
                                    <h3>Các Dòng Sản Phẩm IPHONE/h3>
                                        <a href="/dashboard/category=1/create" class="btn btn-primary">Tạo mới</a>
                                </div>

                                <hr />
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tên</th>
                                            <th>Năm Phát Hành</th>
                                            <th>Trạng Thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="productGeneration : ${generation}">
                                            <th th:text="${productGeneration.id}"></th>
                                            <td th:text="${productGeneration.generationName}"></td>
                                            <!-- <td th:text="${productGeneration.yearOfManufacture}"></td> -->
                                            <td th:text="${productGeneration.status.stateName}"></td>
                                            <td>
                                                <!-- <a th:href="@{/admin/user/{id}(id=${user.id})}" class="btn btn-success">View</a>
                                                <a th:href="@{/admin/user/update/{id}(id=${user.id})}" class="btn btn-warning mx-2">Update</a>
                                                <a th:href="@{/admin/user/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
            <th:block th:replace="admin/layout/footer :: footer"></th:block>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script th:src="@{/admin/js/scripts.js}"></script>

</body>

</html>